## Loading modules and packages

In [7]:
from CustomerFrequency.DataBase.data_generator import generate_customer, generate_menu, generate_orders, generate_employee, generate_transactions
import pandas as pd
import random
random.seed(85)
import os

## Declaring Constants

In [8]:
NUMBER_OF_TRANSACTIONS=5000
NUMBER_OF_EMPLOYEES=50
NUMBER_OF_CUSTOMERS=2000
NUMBER_OF_ORDERS=200
output_file_path = 'Data/Customer_Transaction_with_Satisfaction.csv'

## Generating Employee Data

In [6]:
employee_data = [generate_employee(employee_id) for employee_id in range(NUMBER_OF_EMPLOYEES)]

# Convert the list of employee data to a DataFrame
employee_df = pd.DataFrame(employee_data)

# Display the first few rows of the DataFrame
print(employee_df.head())

# Write the DataFrame to a CSV file
output_file_path = 'Data/employee_data.csv'
if os.path.exists(output_file_path):
    os.remove(output_file_path)
    employee_df.to_csv(output_file_path, index=False)
else:
    employee_df.to_csv(output_file_path, index=False)

   employee_Id first_name  last_name                         email  \
0            0     Selena  Gutierrez     blairjennifer@example.org
1            1   Jennifer     Graham         drobinson@example.com
2            2    Michele      Hardy  jeffreymcfarland@example.net
3            3      Jason   Campbell    anthonycynthia@example.org
4            4      Brian       Bell      ortizkristen@example.org

   builidingID      phone_number
0         4376  +374 (29) 255035
1         5062  +374 (10) 291486
2         5236  +374 (15) 508756
3         3045  +374 (32) 320473
4         3327  +374 (32) 588152

## Generating Customer Data

In [6]:
customer_data = [generate_customer(customer_id) for customer_id in range(NUMBER_OF_CUSTOMERS)]

# Convert the list of customer data to a DataFrame
customer_df = pd.DataFrame(customer_data)

# Display the first few rows of the DataFrame
print(customer_df.head())

# Write the DataFrame to a CSV file
output_file_path = 'Data/customer_data.csv'
if os.path.exists(output_file_path):
    os.remove(output_file_path)
    employee_df.to_csv(output_file_path, index=False)
else:
    employee_df.to_csv(output_file_path, index=False)

   customer_id first_name  last_name      phone_number
0            0      Laura   Anderson  +374 (49) 082773
1            1       Alex     Turner  +374 (84) 515643
2            2    Rebekah  Rodriguez  +374 (57) 405762
3            3     Brandy     Miller  +374 (94) 879735
4            4     Dustin     Harper  +374 (18) 104579

## Generating Menu Data

In [7]:
menu_data = [generate_menu(menu_id) for menu_id in range(1, 101)]

# Convert the list of menu data to a DataFrame
menu_df = pd.DataFrame(menu_data)

# Display the first few rows of the DataFrame
print(menu_df.head())

# Write the DataFrame to a CSV file
output_file_path = 'Data/menu_data.csv'
if os.path.exists(output_file_path):
    os.remove(output_file_path)
    employee_df.to_csv(output_file_path, index=False)
else:
    employee_df.to_csv(output_file_path, index=False)

   menu_id                              name price  size
0        1  Cinnamon Caramel Cream Cold Brew   750   0.5
1        2     Iced Peach Green Tea Lemonade   550  0.25
2        3                    Iced Green Tea  1200   0.5
3        4                    Vanilla Cookie   350   0.5
4        5                  Matcha Tea Latte   650  0.25

## Generating Orders Data

In [8]:
order_data = [] 
for order_id in range(1, NUMBER_OF_ORDERS + 1):
    menu_id = random.randint(1, len(menu_data))
    customer_id = random.randint(1, len(customer_data))

    order = generate_orders(order_id, menu_id, customer_id)
    order_data.append(order)

# Convert the list of order data to a DataFrame
order_df = pd.DataFrame(order_data)

# Display the first few rows of the DataFrame
print(order_df.head())

# Write the DataFrame to a CSV file
output_file_path = 'Data/order_data.csv'
if os.path.exists(output_file_path):
    os.remove(output_file_path)
    employee_df.to_csv(output_file_path, index=False)
else:
    employee_df.to_csv(output_file_path, index=False)

   order_id              date_of_order  price  quantity_ordered  menu_id  \
0         1 2023-01-09 05:51:04.894036  23230                16        3
1         2 2022-05-24 15:10:01.070891   6500                18        7
2         3 2022-04-29 22:17:29.430000  17700                18       91
3         4 2020-09-05 20:02:11.591781  19650                18        3
4         5 2022-03-30 03:12:11.729565  18310                 5       20

   customer_id
0         1989
1         1999
2          447
3         1410
4          674

## Generating Transactions Data

In [9]:
transactions_data = []

for transaction_id in range(1, NUMBER_OF_TRANSACTIONS + 1):
    customer_id = random.randint(1, len(customer_data))
    employee_id = random.randint(1, len(employee_data))
    
    transaction = generate_transactions(transaction_id, customer_id, employee_id)
    transactions_data.append(transaction)

# Convert the list of transaction data to a DataFrame
transactions_df = pd.DataFrame(transactions_data)

# Display the first few rows of the DataFrame
print(transactions_df.head())

# Write the DataFrame to a CSV file
output_file_path = 'Data/transactions_data.csv'
if os.path.exists(output_file_path):
    os.remove(output_file_path)
    employee_df.to_csv(output_file_path, index=False)
else:
    employee_df.to_csv(output_file_path, index=False)

   transaction_id            date_of_payment  customer_id  employee_id  \
0               1 2022-04-29 02:45:15.334368          425           33
1               2 2023-04-10 22:40:50.683041          730           24
2               3 2021-08-09 01:53:37.740671           42           44
3               4 2022-05-03 09:03:14.431179         1392           41
4               5 2021-05-03 18:53:43.274213          638           26

   amount        type
0    7970    applepay
1   16790  mastercard
2    9270        cash
3    2010    applepay
4   27370        visa