## Loading modules and packages

In [10]:
from CustomerFrequency.data_preparation.data_generator import generate_customer
from CustomerFrequency.data_preparation.data_generator import generate_menu
from CustomerFrequency.data_preparation.data_generator import generate_orders
from CustomerFrequency.data_preparation.data_generator import generate_employee
from CustomerFrequency.data_preparation.data_generator import generate_transactions
import pandas as pd
import random

## Declaring Constants

In [11]:
NUMBER_OF_TRANSACTIONS=5000
NUMBER_OF_EMPLOYEES=100
NUMBER_OF_CUSTOMERS=2000
NUMBER_OF_ORDERS=200

## Generating Employee Data

In [13]:
employee_data = [generate_employee(employee_id) for employee_id in range(NUMBER_OF_EMPLOYEES)]

# Convert the list of employee data to a DataFrame
employee_df = pd.DataFrame(employee_data)

# Display the first few rows of the DataFrame
print(employee_df.head())

# Write the DataFrame to a CSV file
employee_df.to_csv('employee_data.csv', index=False)

   employee_Id first_name last_name                     email  builidingID  \
0            0    Matthew     Kelly  michaelsmith@example.org         9220
1            1     Olivia     Davis   bruceturner@example.org         5796
2            2      Kevin     Smith      jaykelly@example.net         3088
3            3     Steven     Evans       eflores@example.net         3231
4            4    Matthew     Lewis       david53@example.com         4847

       phone_number
0  +374 (10) 150061
1  +374 (96) 211531
2  +374 (22) 654090
3  +374 (33) 128748
4  +374 (27) 493392

## Generating Customer Data

In [15]:
customer_data = [generate_customer(customer_id) for customer_id in range(NUMBER_OF_CUSTOMERS)]

# Convert the list of customer data to a DataFrame
customer_df = pd.DataFrame(customer_data)

# Display the first few rows of the DataFrame
print(customer_df.head())

# Write the DataFrame to a CSV file
customer_df.to_csv('customer_data.csv', index=False)

   customer_id first_name last_name      phone_number
0            0     Alexis   Brennan  +374 (33) 300284
1            1      Wendy      Reid  +374 (43) 211176
2            2       Glen  Whitaker  +374 (16) 407151
3            3    Melissa    Garcia  +374 (12) 705615
4            4    Michael    Ramsey  +374 (86) 368927

## Generating Menu Data

In [16]:
menu_data = [generate_menu(menu_id) for menu_id in range(1, 101)]

# Convert the list of menu data to a DataFrame
menu_df = pd.DataFrame(menu_data)

# Display the first few rows of the DataFrame
print(menu_df.head())

# Write the DataFrame to a CSV file
menu_df.to_csv('menu_data.csv', index=False)

   menu_id                            name price  size
0        1       Iced Blonde Vanilla Latte   600  0.75
1        2          Chai Crème Frappuccino   750  0.25
2        3      Featured / Seasonal Cookie   600   0.5
3        4  Oleato Caffe Latte w/ Oatmilk*   350  0.75
4        5                     Caffè Misto   600  0.25

## Generating Orders Data

In [17]:
order_data = [] 
for order_id in range(1, NUMBER_OF_ORDERS + 1):
    menu_id = random.randint(1, len(menu_data))
    customer_id = random.randint(1, len(customer_data))

    order = generate_orders(order_id, menu_id, customer_id)
    order_data.append(order)

# Convert the list of order data to a DataFrame
order_df = pd.DataFrame(order_data)

# Display the first few rows of the DataFrame
print(order_df.head())

# Write the DataFrame to a CSV file
order_df.to_csv('order_data.csv', index=False)

   order_id              date_of_order  price  quantity_ordered  menu_id  \
0         1 2022-09-23 20:55:02.231626  20390                 2       50
1         2 2020-04-08 14:35:40.221462  29440                18       91
2         3 2021-12-08 18:57:35.158228   4090                11       49
3         4 2021-04-25 15:59:44.996317   8830                15       54
4         5 2023-11-19 01:20:44.635832  10330                14       78

   customer_id
0          122
1          321
2          449
3          364
4          621

## Generating Transactions Data

In [18]:
transactions_data = []

for transaction_id in range(1, NUMBER_OF_TRANSACTIONS + 1):
    customer_id = random.randint(1, len(customer_data))
    employee_id = random.randint(1, len(employee_data))
    
    transaction = generate_transactions(transaction_id, customer_id, employee_id)
    transactions_data.append(transaction)

# Convert the list of transaction data to a DataFrame
transactions_df = pd.DataFrame(transactions_data)

# Display the first few rows of the DataFrame
print(transactions_df.head())

# Write the DataFrame to a CSV file
transactions_df.to_csv('transactions_data.csv', index=False)

   transaction_id            date_of_payment  customer_id  employee_id  \
0               1 2022-10-25 02:08:27.402660          217            5
1               2 2023-12-25 15:24:27.909259         1851           59
2               3 2021-04-04 12:15:03.257180         1448            6
3               4 2021-04-11 17:05:14.265177           83            9
4               5 2021-07-04 00:25:27.488266         1818           49

   amount      type
0    1780  applepay
1   29470  applepay
2    6070      visa
3   10990      visa
4   20510  applepay